/Combat_corrected_20251017_041600.xlsx
/Data_Normalization_program.spec
/ISTD_Results_20251017_041415.xlsx
/logs
/Normalization_Results_20251017_053259
/Normalization_Results_20251017_053422
/QC_LOWESS_20251017_0415.xlsx
/requirements.txt
/__pycache__

# 忽略所有 Excel 檔案
*.xlsx
*.xls
*.csv

# 忽略所有圖片檔案
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.pdf